# Port du serveur
PORT=3001

# Clés JSONBin (NE JAMAIS PARTAGER)
JSONBIN_API_URL=https://api.jsonbin.io/v3/b/6964ea5943b1c97be92afbbb
JSONBIN_MASTER_KEY=$2a$10$nhwr66cEwTXmUPBOK0bpuOW49oxiajTipTLHtRZM7NUHsUDkC5QIG
JSONBIN_ACCESS_KEY=$2a$10$uc4w.u4fFV6spzoAyRI7O.WX2cnVsAagFzQuqp7H/D4sLeB0RTrlG

# Clé secrète pour les sessions (GÉNÉRER UNE NOUVELLE CLÉ SECRÈTE)
SESSION_SECRET=votre_clé_secrète_très_longue_et_complexe_ici_changer_en_production

# Identifiants admin (CHANGER EN PRODUCTION)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Kazzama12

# URL du frontend (pour CORS)
FRONTEND_URL=https://fulbert-website.surge.sh
